.leftButs
{

}

.leftBut
{
    border-radius: 0px;
    background-color: black;
    color: rgb(245, 242, 248);
    padding: 8px;
    margin: 5px;
    font-size: 13px;
    width: 200px;
}

#subFile
{
    position: relative;
    left: 15px;
}


#folbut
{
    border-radius: 0px;
    background-color: rgb(12, 0, 20);
    color: rgb(245, 242, 248);
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    width: 220px;
    height: 50px;
}